deploy
*.log
*.pot
*.pyc
local_settings.py
env
*~
.idea
sigtrac/settings.py
config/gen/
config/settings.py
ngapp
sigtrac.db
.DS_Store
db/*
.gradle
.idea/workspace.xml
android/sigtrac/src/main/gen/
android/sigtrac/src/main/main.iml
android/.idea/misc.xml
android/.idea/modules.xml
android/Sigtrac/Sigtrac.iml