html,
body {
  height: 100%;
}

#map {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: -1;
}

#header-bar {
  position: relative;
  z-index: 2;
  margin-top: 50px;
}

.summary-header {
  background-repeat: no-repeat;
  background-position: center;
  min-height: 100px;
  margin-top: 40px;
}

#mtn-header {
  background-image: url('../images/mtn_white_logo.png');
  background-color: #fec325;
}

#tigo-header {
  background-image: url('../images/tigo_white_logo.png');
  background-color: #204497;
}

#airtel-header {
  background-image: url('../images/airtel_white_logo.png');
  background-color: #eb2026;
}

#body-bar {
  z-index: 2;
}

#chart-spacer {
  height: 200px;
}

.summary-body {
  background-color: rgba(245, 245, 245, 0.95);
  padding: 5px 15px;
}

.summary-body h1 {
  font-size: 70px;
}

#mtn-body {
  border: 1px solid #fec325;
}

#mtn-body h1 {
  color: #fec325;
}

#mtn-body h2 {
}

#tigo-body {
  border: 1px solid #204497;
}

#tigo-body h1 {
  color: #204497;
}

#airtel-body {
  border: 1px solid #eb2026;
}

#time-buttons {
  margin-top: 30px;
}

#airtel-body h1 {
  color: #eb2026;
}

.body-label {
  margin-top: 0;
  padding-top: 0;
  line-height: 10px;
}

.body-value {
  margin-top: 10px;
  margin-bottom: 0px;
  padding-bottom: 0px;
  color: #ccc;
  font-size: 20px;
  text-align: right;
}

.body-value .small {
  margin-top: 10px;
  margin-bottom: 0px;
  padding-bottom: 0px;
  color: #ccc;
  font-size: 16px;
}

@media(max-width:767px){

}

.big-label {
    color: #ccc;
    font-size: 16px;
}

@media(max-width:992px){
    .big-label {
        text-align: right;
    }
}

@media(min-width:992px){
  .big-label {
      line-height: 70px;
      text-align: left;
  }
}

.right-padding-5 {
    padding-right: 5px;
}

.left-padding-5 {
    padding-left: 5px;
}

#wrap {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  /* Negative indent footer by it's height */
  margin: 0 auto -200px;
}


#chart {
  height: 200px;
}

.download {
  margin-top: 50px;
  padding: 10px;
  background: #fff;
  border: 1px solid #ccc;
}

.note {
  font-size: 11px;
  color: #999;
  padding-top:5px;
}

.chart-tooltip .label-speed {
  font-size:22px;
  font-weight:bold;
  display:inline-block;
  margin-bottom:8px;
}

.chart-tooltip .units {
  display:inline-block;
  margin-left:0px;
  color: #fff;
}

.chart-tooltip .time {
  color: #fff;
}

.chart-tooltip {
  margin:-10px;
  padding:8px;
  border: 2px solid #fff;
  min-width: 190px;
}

.chart-tooltip .label-speed {
  color: #fff;
}

.chart-tooltip.carrier {
  background-size: 55px Auto;
  background-repeat:no-repeat;
  background-position: 95% 57%;
}

.chart-tooltip.airtel {
  background-color:#eb2026;
  background-image: url('../images/airtel_white_logo.png');
}

.chart-tooltip.mtn {
  background-color:#fec325;
  background-image: url('../images/mtn_white_logo.png');
}

.chart-tooltip.tigo {
  background-size: 35px Auto;
  background-color:#204497;
  background-image: url('../images/tigo_white_logo.png');
}



#footer {
  height: 200px;
}

/* Lastly, apply responsive CSS fixes as necessary */
@media (max-width: 767px) {
#footer {
  margin-left: -20px;
  margin-right: -20px;
  padding-left: 20px;
  padding-right: 20px;
}
}
