<div class="row" id="header-bar">
  <div class="col-md-4">
    <div class="summary-header" id="mtn-header"></div>
  </div>
  <div class="col-md-4">
    <div class="summary-header" id="tigo-header"></div>
  </div>
  <div class="col-md-4">
    <div class="summary-header" id="airtel-header"></div>
  </div>
</div>

<div class="row" id="body-bar">
  <div class="col-md-4">
    <div class="summary-body" id="mtn-body">
      <div class="row">
        <div class="col-md-6 col-md-offset-3">
          <h1 class="pull-right body-value">2.04</h1>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6 col-md-offset-3">
          <h2 class="body-label pull-right"><small>mbps down</small></h2>  
        </div>
      </div>
      <div class="row">
        <div class="col-md-6 col-md-offset-3">
          <h1 class="pull-right body-value">1234</h1>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6 col-md-offset-3">
          <h2 class="body-label pull-right"><small>ms ping</small></h2>  
        </div>
      </div>
      <div class="row">
        <div class="col-md-6 col-md-offset-3">
          <h1 class="pull-right body-value">120</h1>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6 col-md-offset-3">
          <h2 class="body-label pull-right"><small>% packet loss</small></h2>  
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <h4 class="text-center">Data from 6 reports</h4>  
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="summary-body" id="tigo-body">
      <div class="row">
        <div class="col-md-6 col-md-offset-3">
          <h1 class="pull-right body-value">2.04</h1>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6 col-md-offset-3">
          <h2 class="body-label pull-right"><small>mbps down</small></h2>  
        </div>
      </div>
      <div class="row">
        <div class="col-md-6 col-md-offset-3">
          <h1 class="pull-right body-value">1234</h1>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6 col-md-offset-3">
          <h2 class="body-label pull-right"><small>ms ping</small></h2>  
        </div>
      </div>
      <div class="row">
        <div class="col-md-6 col-md-offset-3">
          <h1 class="pull-right body-value">120</h1>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6 col-md-offset-3">
          <h2 class="body-label pull-right"><small>% packet loss</small></h2>  
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <h4 class="text-center">Data from 6 reports</h4>  
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="summary-body" id="airtel-body">
      <div class="row">
        <div class="col-md-6 col-md-offset-3">
          <h1 class="pull-right body-value">2.04</h1>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6 col-md-offset-3">
          <h2 class="body-label pull-right"><small>mbps down</small></h2>  
        </div>
      </div>
      <div class="row">
        <div class="col-md-6 col-md-offset-3">
          <h1 class="pull-right body-value">1234</h1>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6 col-md-offset-3">
          <h2 class="body-label pull-right"><small>ms ping</small></h2>  
        </div>
      </div>
      <div class="row">
        <div class="col-md-6 col-md-offset-3">
          <h1 class="pull-right body-value">120</h1>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6 col-md-offset-3">
          <h2 class="body-label pull-right"><small>% packet loss</small></h2>  
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <h4 class="text-center">Data from 6 reports</h4>  
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-4 col-md-offset-4 text-center">
    <div class="btn-group" id="time-buttons">
      <button type="button" class="btn btn-default">Today</button>
      <button type="button" class="btn btn-default">This week</button>
      <button type="button" class="btn btn-default">This month</button>
    </div>
  </div>
</div>

<div id="map" class="map"></div>

<Script type='text/javascript'>
var map = L.mapbox.map('map', 'thebenedict.map-hb5e1j6u');
</Script>
