{% extends "public/public_frame.html" %}

{% block content %}

#header-bar.row
  .col-md-4
    #mtn-header.summary-header
  .col-md-4
    #tigo-header.summary-header
  .col-md-4
    #airtel-header.summary-header

#body-bar.row
  .col-md-4
    #mtn-body.summary-body
      .row
        .col-md-12
          %h1.body-value.pull-right
            [[averages.0.current.mtn.download_speed|number:0]]
            %span.small kbps
      .row
        .col-md-6
          %h2.pull-right.body-value
            [[averages.0.current.mtn.ping|number:0]]
            %span.small ms

        .col-md-6
          %h2.pull-right.body-value
            [[averages.0.current.mtn.packets_dropped|number:0]]
            %span.small %

  .col-md-4
    #tigo-body.summary-body
      .row
        .col-md-12
          %h1.pull-right.body-value
            [[averages.0.current.tigo.download_speed|number:0]]
            %span.small kbps

      .row
        .col-md-6
          %h2.pull-right.body-value
            [[averages.0.current.tigo.ping|number:0]]
            %span.small ms

        .col-md-6
          %h2.pull-right.body-value
            [[averages.0.current.tigo.packets_dropped|number:0]]
            %span.small %

  .col-md-4
    #airtel-body.summary-body
      .row
        .col-md-12
          %h1.pull-right.body-value
            [[averages.0.current.airtel.download_speed|number:0]]
            %span.small kbps

      .row
        .col-md-6
          %h2.pull-right.body-value
            [[averages.0.current.airtel.ping|number:0]]
            %span.small ms

        .col-md-6
          %h2.pull-right.body-value
            [[averages.0.current.airtel.packets_dropped|number:0]]
            %span.small %


.row
  .col-md-4.col-md-offset-4.text-center
    #time-buttons.btn-group
      <button class="btn btn-default" type="button" ng-click="averages[0]['current'] = averages[0]['hour'];">Hour</button>
      <button class="btn btn-default" type="button" ng-click="averages[0]['current'] = averages[0]['day'];">Day</button>
      <button class="btn btn-default" type="button" ng-click="averages[0]['current'] = averages[0]['week'];">Week</button>


#map.map

<script src="//api.tiles.mapbox.com/mapbox.js/v1.3.1/mapbox.js"></script>
<script type='text/javascript'>
var map = L.mapbox.map('map', 'thebenedict.map-hb5e1j6u');
</script>


{% endblock content %}

{% block bottom %}
#chart
{% endblock bottom %}

:css
  #chart {
    height: 200px;
  }


{% block extra-script %}

:javascript
  $(function () {
        $('#chart').highcharts({
            chart: {
                type: 'area',
                height: 200
            },
            legend: {
                enabled: false,
            },
            credits: {
                enabled: false,
            },
            title: {
                text: null,
            },
            xAxis: {
                type: 'datetime',
                dateTimeLabelFormats: { // don't display the dummy year
                    millisecond: '%H:%M',
                }
            },
            yAxis: {
                title: {
                    text: null
                },
                min: 0,
                linkedTo: 0,
            },
            tooltip: {
                formatter: function() {
                        return '<b>'+ this.series.name +'</b><br/>'+
                        'was ' + this.y + ' kbps' + ' at ' + Highcharts.dateFormat('%H:%M', this.x);
                }
            },

            series: [
               {% for stats in time_data %}
               {
               name: '{{stats.carrier|safe}}',
               color: '{{stats.color|safe}}',
               data: [
               {% for elt in stats.series %}
               [
               {% for unit in elt %}
               {% if forloop.first %}Date.parse("{{ unit }}"){%else%}{{unit}}{% endif %}
               {% if not forloop.last %},{% endif %}
               {% endfor %}
               ]
               {% if not forloop.last %},{% endif %}
               {% endfor %}
               ]
               }
               {% if not forloop.last %},{% endif %}
               {% endfor %}

            ]
        });
    });

{% endblock extra-script %}

