{% extends "public/public_frame.html" %}

{% block content %}

.row
  .col-md-4.col-md-offset-4.text-center
    #time-buttons.btn-group
      <button class="btn btn-default" type="button" ng-click="averages[0]['current'] = averages[0]['hour'];">Hour</button>
      <button class="btn btn-default" type="button" autofocus="true" ng-click="averages[0]['current'] = averages[0]['day'];">Day</button>
      <button class="btn btn-default" type="button" ng-click="averages[0]['current'] = averages[0]['week'];">Week</button>


#body-bar.row
  .col-sm-4
    #mtn-header.summary-header
    #mtn-body.summary-body
      .row
        .col-md-9.right-padding-5
          %h1.body-value.big-value
            [[averages.0.current.mtn.download_speed|number:0]]
        .col-md-3.left-padding-5
          .big-label kbps
      .row
        .col-xs-4
          %h2.pull-right.body-value
            [[averages.0.current.mtn.ping|number:0]]
            %span.small ms

        .col-xs-4
          %h2.pull-right.body-value
            [[averages.0.current.mtn.packets_dropped|number:0]]
            %span.small %

        .col-xs-4
          %h2.pull-right.body-value
            [[averages.0.current.mtn.report_count|number:0]] / [[ averages.0.current.mtn.device_count|number:0]]

  .col-sm-4
    #tigo-header.summary-header
    #tigo-body.summary-body
      .row
        .col-md-9.right-padding-5
          %h1.body-value.big-value
            [[averages.0.current.tigo.download_speed|number:0]]
        .col-md-3.left-padding-5
          .big-label kbps

      .row
        .col-xs-4
          %h2.pull-right.body-value
            [[averages.0.current.tigo.ping|number:0]]
            %span.small ms

        .col-xs-4
          %h2.pull-right.body-value
            [[averages.0.current.tigo.packets_dropped|number:0]]
            %span.small %

        .col-xs-4
          %h2.pull-right.body-value
            [[averages.0.current.tigo.report_count|number:0]] / [[ averages.0.current.tigo.device_count|number:0]]

  .col-sm-4
    #airtel-header.summary-header
    #airtel-body.summary-body
      .row
        .col-md-9.right-padding-5
          %h1.body-value.big-value
            [[averages.0.current.airtel.download_speed|number:0]]
        .col-md-3.left-padding-5
          .big-label kbps

      .row
        .col-xs-4
          %h2.pull-right.body-value
            [[averages.0.current.airtel.ping|number:0]]
            %span.small ms

        .col-xs-4
          %h2.pull-right.body-value
            [[averages.0.current.airtel.packets_dropped|number:0]]
            %span.small %

        .col-xs-4
          %h2.pull-right.body-value
            [[averages.0.current.airtel.report_count|number:0]] / [[ averages.0.current.airtel.device_count|number:0]]

.row
  .col-md-4.col-md-offset-4.text-center.download
    Got an Android phone?
    %br
    <a href="https://play.google.com/store/apps/details?id=com.nyaruka.sigtrac">Download the app</a>.
    .note
      BitRanks runs periodically throughout the day. Make sure you have an unmetered data bundle before installing.


.row
  #chart-spacer

#map.map

<script src="//api.tiles.mapbox.com/mapbox.js/v1.3.1/mapbox.js"></script>
<script type='text/javascript'>
var map = L.mapbox.map('map', 'thebenedict.map-hb5e1j6u');
</script>


{% endblock content %}

{% block bottom %}
#chart
{% endblock bottom %}

-block extra-style
  {{block.super}}
  :css

{% block extra-script %}

:javascript
  $(function () {
        $('#chart').highcharts({
            chart: {
                backgroundColor: null,
                type: 'column',
                height: 200,
                marginBottom: 1
            },
            plotOptions: {
                column: {
                    pointPadding: 0,
                    borderWidth: 0,
                    pointWidth: 13
                }
            },
            legend: {
                enabled: false,
            },
            credits: {
                enabled: false,
            },
            title: {
                text: null,
            },
            xAxis: {
                type: 'datetime',
                labels: {
                    enabled: false,
                }
            },
            yAxis: {
                title: {
                    text: null
                },
                min: 0,
                linkedTo: 0,
            },
            tooltip: {
                useHTML:true,
                formatter: function() {
                        console.log(this.series.name);
                        return '<div class="chart-tooltip carrier ' + this.series.name + '">'+
                        '<div class=label-speed>' + Math.floor(this.y).toLocaleString() + '</div><div class=units>kbps</div>' + '<div class=time>' + Highcharts.dateFormat('%H:%M', this.x) + '</div></div>';
                }
            },

            series: [
               {% for stats in time_data %}
               {
               name: '{{stats.carrier|safe}}',
               color: '{{stats.color|safe}}',
               pointWidth: 12,
               data: [
               {% for elt in stats.series %}
               [
               {% for unit in elt %}
               {% if forloop.first %}Date.parse("{{ unit }}"){%else%}{{unit}}{% endif %}
               {% if not forloop.last %},{% endif %}
               {% endfor %}
               ]
               {% if not forloop.last %},{% endif %}
               {% endfor %}
               ]
               }
               {% if not forloop.last %},{% endif %}
               {% endfor %}

            ]
        });
    });

{% endblock extra-script %}

